/*
 * GENERAL STYLES
 */
body { 
    padding-top: 70px;
}


ul.nav.nav-main li {
  height: 54px;
}

ul.nav.nav-main li ul.sub-menu {
  position:absolute;
  display: none;
  width: 280px;
}

ul.nav.nav-main li:hover ul.sub-menu {
  display:block;
}

ul.nav.nav-main li ul.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 0em;
  background-color: #F8F8F8;
  border: 1px solid #E7E7E7;
  border-top: none;
}

ul.nav.nav-main li ul.sub-menu li {
  list-style: none;
  padding: 1em;
  margin: 0;
  height: 2em;
  border-left: 2px solid transparent;
  cursor: pointer;
}

ul.nav.nav-main li ul.sub-menu li a {
  text-decoration: none; 
  color: #777777;
}

ul.nav.nav-main li ul.sub-menu li:hover {
  border-left: 2px solid #f0ad4e;
  color: #f0ad4e;
}

ul.nav.nav-main li ul.sub-menu li:hover a {
  color: #f0ad4e;
}



nav .nav-main > li > a {
    border-top: 3px solid transparent;
    color: #ffcc66;
}

nav .nav-main > li > a[data-active],
nav .nav-main > li:hover > a, 
nav .nav-main > li:focus > a {
    border-top: 3px solid #f0ad4e;
    color: #f0ad4e !important;
}

/*
 * ARTICLE AND SECTIONS
 */
section {
    margin-bottom: 4em;
}

section h3,
section h4 {
  margin-top: 1em;
}

section .example-short {
  display: block;
  max-width: 360px;
}

section .example-middle {
  display: block;
  max-width: 560px;
}

section sub {
  font-size: 0.95em;
}

/*
 * CODE EXAMPLE
 */
.example_wrapper {
    float: none;
    clear: both;
    overflow: hidden;
}

.example_block {
    margin-top: 2em;
}

section.intro .example_block {
  margin-top: 0px;
}

.example_block[data-executable="0"] .toolbox {
  display: none;
}

code.hljs {
    padding: 1em;
}

code input {
    display: inline-block;
    margin: 0;
    padding: 4px 0px 4px 11px;
    width: 4.6em;
    border: none;
    background-color: #292929;
    color: #afafaf;
    text-align: center;
}

code input[type="color"] {
    width: 1.5em;
    padding: 0px;
    background-color: #292929;
    cursor: pointer;
}

code .space {
    display: inline-block;
    width: 1em;
}

code [data-codepeeker-fn] {
  border-bottom: 1px dotted #d1d9e1;
  cursor: pointer;
} 

.codepeek-wrapper {
  z-index: 1;
  box-shadow: 2px 2px 18px 0px rgba(105,105,105,0.25);
}

.codepeek-wrapper .close {
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 10px;
    color: black;
    opacity: 0.15;
}

.codepeek-wrapper .close:hover {
  opacity: 0.5;
}

.codepeek-wrapper code {
    border: 1px solid #afafaf;
    background-color: #585858;
}

.codepeek-wrapper .close::before {
  color: #000000;
}

.codeblock,
.canvas_wrapper,
.canvas_container {
  min-height: 360px;
  max-height: 460px;
}

.example_block[data-type="code"] .codeblock {
  min-height: 260px;
}

.canvas_wrapper {
    padding-top: 43px;
}

.canvas_wrapper canvas {
  border-radius: 5px;
}

.code_wrapper label[for="live_update"] {
    display: inline-block;
    position: relative;
    padding: 9px;
    padding-left: 37px;
    color: #afafaf;
}

.code_wrapper input[type="checkbox"] {
    position: absolute;
    top: 8px;
    left: 12px;
    margin: 0;
    padding: -1px;
    height: 20px;
    width: 20px;
}

.code_wrapper .execute_code > span {
    top: 3px;
    padding-right: 8px;
    line-height: 1.1em;
}

/*
 * CODE PEEKER
 */
code.codepeeker {
  position: absolute;
  /* padding: 24px; */
  border-radius: 5px;
}

/*
 * LOADER
 * SRC: https://projects.lukehaas.me/css-loaders/;
 */

[data-loading] {
  color: rgba(240, 173, 78, 0.75);
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 36px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}